@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn-prose";

@source "../**/*.{ts,tsx}";

@custom-variant dark (&:is(.dark *));

:root {
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  /* --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0); */
  --primary: oklch(0.61 0.22 293);
  --primary-foreground: oklch(1 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --destructive-foreground: oklch(0.577 0.245 27.325);
  --success: oklch(0.7 0.15 162);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --radius: 0.625rem;
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);

  --font-weight-bold: 700;
  --backdrop: oklch(0.97 0 0);
  --warning: oklch(0.86 0.17 92);
}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.145 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.145 0 0);
  --popover-foreground: oklch(0.985 0 0);
  /* --primary: oklch(0.985 0 0);
  --primary-foreground: oklch(0.205 0 0); */
  --primary: oklch(0.61 0.22 293);
  --primary-foreground: oklch(1 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.396 0.141 25.723);
  --destructive-foreground: oklch(0.637 0.237 25.331);
  --success: oklch(0.7 0.15 162);
  --border: oklch(0.269 0 0);
  --input: oklch(0.269 0 0);
  --ring: oklch(0.439 0 0);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(0.269 0 0);
  --sidebar-ring: oklch(0.439 0 0);

  --backdrop: oklch(0.145 0 0);
  --warning: oklch(0.86 0.17 92);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --color-success: var(--success);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --animate-accordion-down: accordion-down 0.2s ease-out;
  --animate-accordion-up: accordion-up 0.2s ease-out;

  --color-backdrop: var(--backdrop);
  --color-warning: var(--warning);

  @keyframes accordion-down {
    from {
      height: 0;
    }
    to {
      height: var(--radix-accordion-content-height);
    }
  }

  @keyframes accordion-up {
    from {
      height: var(--radix-accordion-content-height);
    }
    to {
      height: 0;
    }
  }
}

/* This layer is added by shadcn/ui */
@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}

/* This layer is by next-forge */
@layer base {
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    @apply border-border;
  }
  * {
    @apply min-w-0;
  }
  html {
    text-rendering: optimizelegibility;
  }
  body {
    @apply min-h-[100dvh];
  }
  input::placeholder,
  textarea::placeholder {
    @apply text-muted-foreground;
  }
  button:not(:disabled),
  [role="button"]:not(:disabled) {
    @apply cursor-pointer;
  }
}

/* This layer is for Portal */
::selection {
  @apply bg-violet-500 text-white;
}

.bg-image-none {
  background-image: none;
}

.radial-progress {
  --value: 0;
  --size: 5rem;
  --thickness: calc(var(--size) / 15);

  @apply relative inline-grid box-content rounded-full bg-transparent font-semibold place-content-center align-middle;

  width: var(--size);
  height: var(--size);

  &::before,
  &::after {
    @apply absolute rounded-full content-[''];
  }

  &::before {
    @apply inset-0;

    background:
      radial-gradient(farthest-side, currentColor 98%, #0000) top /
      var(--thickness) var(--thickness) no-repeat,
      conic-gradient(currentColor calc(var(--value) * 1%), #0000 0);
    mask: radial-gradient(
      farthest-side,
      #0000 calc(99% - var(--thickness)),
      #000 calc(100% - var(--thickness))
    );
  }

  &::after {
    @apply bg-current;

    inset: calc(50% - var(--thickness) / 2);
    transform: rotate(calc(var(--value) * 3.6deg - 90deg))
      translate(calc(var(--size) / 2 - 50%));
  }
}

.animated-border:hover {
  --border-size: 13px;
  --border-angle: 0turn;

  animation: bg-animated-border 10s linear infinite;
  background-image:
    conic-gradient(from var(--border-angle), #213, #112 50%, #213),
    conic-gradient(
      from var(--border-angle),
      transparent 20%,
      rgb(255 255 255 / 10%),
      rgb(255 255 255 / 20%)
    );
  background-position: center center;
  background-repeat: no-repeat;
  background-size:
    calc(100% - (var(--border-size) * 2)) calc(100% - (var(--border-size) * 2)),
    cover;
}

@keyframes bg-animated-border {
  to {
    --border-angle: 1turn;
  }
}

@property --border-angle {
  inherits: true;
  initial-value: 0turn;
  syntax: "<angle>";
}

input[type="checkbox"] {
  @apply appearance-none w-[13px] aspect-square border border-border rounded-sm;
  @apply checked:bg-violet-500 checked:border-transparent;
  @apply focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-violet-500;
}

input[type="checkbox"]:checked {
  background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 16 16' fill='white' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M12.207 4.793a1 1 0 010 1.414l-5 5a1 1 0 01-1.414 0l-2-2a1 1 0 011.414-1.414L6.5 9.086l4.293-4.293a1 1 0 011.414 0z'/%3e%3c/svg%3e");
}

[data-type="emoji"] {
  @apply inline-block align-baseline;
}

[data-type="emoji"] img {
  @apply m-0 w-4 h-4;
}

div[data-youtube-video] {
  @apply w-full aspect-video relative rounded border shadow-sm overflow-hidden mb-4;
}

div[data-youtube-video] iframe {
  @apply absolute inset-0 w-full h-full;
}

.moveable-control-box {
  @apply !z-40;
}

nav[aria-label="Main"] .bg-popover {
  @apply backdrop-blur-sm filter bg-backdrop/95 border-foreground/10;
}

[data-radix-popper-content-wrapper],
[role="alertdialog"],
[role="dialog"],
[class*="bg-black/80"] {
  @apply !z-[1000];
}

div:has(> table) {
  @apply !overflow-clip;
}

.shiki {
  background-color: var(--shiki-light-bg);
  color: var(--shiki-light);
}

.shiki span {
  color: var(--shiki-light);
}

.dark .shiki {
  background-color: var(--shiki-dark-bg);
  color: var(--shiki-dark);
  @apply border-neutral-700;
}

.dark .shiki span {
  color: var(--shiki-dark);
}

.shiki code {
  display: grid;
  font-size: 13px;
  counter-reset: line;
}

.shiki .line:before {
  content: counter(line);
  counter-increment: line;

  @apply inline-block w-4 mr-8 text-neutral-500 dark:text-neutral-400 text-right;
}

.shiki[title]:before {
  content: attr(title);
  @apply inline-block text-neutral-500 dark:text-neutral-400 text-right mb-6 text-sm;
}

nav[aria-label="Main"][data-orientation="horizontal"][dir="ltr"]
  > div[class*="left-0"] {
  @apply !left-auto pt-2;
}

.cl-userProfile-root .cl-navbar > div:first-child > div:first-child {
  @apply hidden;
}
